form {

  .search {
    height: 1.8em;
    border-radius: 5px;
    padding: 0.1em 0.9em;
    font-size: 12.5px;
    font-family: 'Open Sans', sans-serif;
    color: inherit;
    border: 1px solid #d3dce6;
    width: 40%;
  }
}
