.nav-container{
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  height: 50px;
  background-color: rgb(46, 49, 56);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  width: 100vw;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.4);

  .search {
    margin: auto 0;
  }


  .auth {
    display: flex;
    div {
      color: #ffffff;
      margin: auto 0;
      padding: 0 1em;
      flex-direction: row;
      border-left: 1px solid #DFDDED;
      span {
        cursor: pointer;
      }

      span:hover {
        font-weight: bold;
        transition: font 0.3s linear;
      }
    }
    .login-cont {
      border-right: 1px solid #DFDDED;
    }
  }
}